rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isAdmin() {
      return isAuthenticated() && getUserData().role == 'admin';
    }
    
    function isMember() {
      return isAuthenticated() && (getUserData().role == 'member' || getUserData().role == 'admin');
    }

    match /settings/{docId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /media/{mediaId} {
      allow read, write: if true;
    }
    match /payments/{paymentId} {
      allow read, write: if true;
    }
    match /publication_comments/{commentId} {
      allow read, write: if true;
    }
    match /inquiries/{inquiryId} {
      allow read, write: if true;
    }
    match /chat_messages/{messageId} {
      allow read, write: if true;
    }
  }
}
